.vscode

bin

/states
/specs/states

orchestrator.old
orchestrator.out
orchestrator.dvi
orchestration

worker.out
worker.old
worker.dvi

virtualmem/target

/cmd/.env

# GeeqoDB directory to run the db on the nodes
geeqodb/